
.vs/ShortPaper_API/DesignTimeBuild/.dtbcache.v2
.vs/ShortPaper_API/DesignTimeBuild/.dtbcache.v2
.vs/ShortPaper_API/DesignTimeBuild/.dtbcache.v2
.vs/ShortPaper_API/FileContentIndex/11b1d68a-feca-4b0e-b037-c063fce792f2.vsidx
.vs/ShortPaper_API/DesignTimeBuild/.dtbcache.v2
.vs/ShortPaper_API/FileContentIndex/14b8218a-9c39-4c54-9648-e4bcb4b63716.vsidx
.vs/ShortPaper_API/FileContentIndex/8ad56faf-1fe8-42dc-bb0d-a01da2b7d88b.vsidx
.vs/ShortPaper_API/FileContentIndex/read.lock
.vs/ShortPaper_API/v17/.suo
ShortPaper_API/bin/Debug/net7.0/appsettings.json
ShortPaper_API/bin/Debug/net7.0/ShortPaper_API.dll
ShortPaper_API/bin/Debug/net7.0/ShortPaper_API.pdb
ShortPaper_API/obj/Debug/net7.0/ref/ShortPaper_API.dll
ShortPaper_API/obj/Debug/net7.0/refint/ShortPaper_API.dll
ShortPaper_API/obj/Debug/net7.0/ShortPaper_API.assets.cache
ShortPaper_API/obj/Debug/net7.0/ShortPaper_API.csproj.AssemblyReference.cache
ShortPaper_API/obj/Debug/net7.0/ShortPaper_API.csproj.CoreCompileInputs.cache
ShortPaper_API/obj/Debug/net7.0/ShortPaper_API.dll
ShortPaper_API/obj/Debug/net7.0/ShortPaper_API.GeneratedMSBuildEditorConfig.editorconfig
ShortPaper_API/obj/Debug/net7.0/ShortPaper_API.pdb
ShortPaper_API/obj/Debug/net7.0/ShortPaper_API.pdb
ShortPaper_API/obj/Debug/net7.0/ShortPaper_API.GeneratedMSBuildEditorConfig.editorconfig
ShortPaper_API/obj/Debug/net7.0/ShortPaper_API.dll
ShortPaper_API/obj/Debug/net7.0/ShortPaper_API.csproj.CoreCompileInputs.cache
ShortPaper_API/obj/Debug/net7.0/ShortPaper_API.assets.cache
ShortPaper_API/obj/Debug/net7.0/refint/ShortPaper_API.dll
ShortPaper_API/obj/Debug/net7.0/ref/ShortPaper_API.dll
ShortPaper_API/bin/Debug/net7.0/ShortPaper_API.pdb
ShortPaper_API/bin/Debug/net7.0/ShortPaper_API.dll
ShortPaper_API/bin/Debug/net7.0/appsettings.json
.vs/ShortPaper_API/v17/.suo
.vs/ShortPaper_API/DesignTimeBuild/.dtbcache.v2
*.dll
*.pdb
*.dll
ShortPaper_API/bin/Debug/net7.0/ShortPaper_API.pdb
ShortPaper_API/bin/Debug/net7.0/ShortPaper_API.dll
.vs/ShortPaper_API/v17/HierarchyCache.v1.txt
.vs/ShortPaper_API/v17/.suo
.vs/ShortPaper_API/v17/.futdcache.v2
.vs/ShortPaper_API/FileContentIndex/e758a9dc-d648-41ec-891c-d6546b1ba925.vsidx
.vs/ShortPaper_API/DesignTimeBuild/.dtbcache.v2
.vs/ProjectEvaluation/shortpaper_api.projects.v5.2
.vs/ProjectEvaluation/shortpaper_api.metadata.v5.2
ShortPaper_API/bin/Debug/net7.0/appsettings.json
